<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Issues Test</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

<h1>Issues</h1>

<div id="app">
    <button @click="getAllIssues">Load Issues</button>

    <div v-if="error" style="color:red">
        Error: {{ error }}
    </div>

    <ul v-if="issues.length">
        <li v-for="issue in issues" :key="issue.idissue">
            <strong>{{ issue.title }}</strong><br>
            {{ issue.description }}<br>
            Status: {{ issue.status }}<br>
            Severity: {{ issue.severity }}<br>
            Room: {{ issue.roomId }}<br>
            Reporter: {{ issue.reporterUserId }}
            <hr>
        </li>
    </ul>

    <div v-else>No issues loaded</div>
</div>

<script src="issues.js"></script>
</body>
</html>
